:root {
    --color-primary: #231e3b;
    --color-primary-dark: #110f1a;
    --color-secondary: #301a83;
    --color-secondary-dark: #2b2d5d;
    --color-green: #00ba00;
    --color-orange: #f99100;
    --color-orange-dark: #F07100;
    --color-red: #ff0018;
    --color-light-grey: #f3f4f5;
    --color-white: #fff;

    --font-display: 'Open Sans', sans-serif;
    --font-text: 'Work Sans', sans-serif;
}

/* General styles - start */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.u-mb-md {
    margin-bottom: 3rem;
}

html {
    font-size: 62.5%;
}

@media only screen and (max-width: 75em) {
    html {
        font-size: 56.25%;
    }
}

@media only screen and (max-width: 56.25em) {
    html {
        font-size: 52.5%;
    }
}

body {
    background-color: var(--color-primary-dark);
    color: var(--color-secondary-dark);
    font-family: var(--font-text);
    display: grid;
    justify-content: center;
    align-content: center;
    height: 100vh;
    width: 100vw;
}

.container {
    min-width: 40rem;
    background-color: var(--color-light-grey);
    box-shadow: 0 0 5rem 0 rgba(0, 0, 0, 0.75);
}

/* General styles - end */

/* Main header styles - start */

.header {
    height: 15rem;
    padding: 2rem;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    background-image: radial-gradient(circle at center, rgba(48, 26, 131, 0.9) 20%, rgba(35, 30, 59, 0.9) 100%), url(../img/1217.sdt-news.jpg);
    background-position: center;
    background-size: cover;
}

.header__btn {
    display: inline-block;
    background-color: var(--color-light-grey);
    font-family: var(--font-text);
    font-weight: 700;
    font-size: 1.2rem;
    padding: 1rem 2.1rem;
    border: none;
    border-radius: 2.5px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    cursor: pointer;
    transition: all .25s ease-out;
}

select,
option {
    border: none;
    outline: none;
}

.span__select {
    position: relative;
    display: grid;
    font-size: 1.2rem;
    overflow: hidden;
    border-radius: 2.5px;
}

.header__select {
    background-color: var(--color-light-grey);
    color: var(--color-orange-dark);
    font-family: var(--font-text);
    display: flex;
    padding: 1rem;
    padding-left: 1.8rem;
    padding-right: 8rem;
    border-radius: 2.5px;
    margin-left: .8rem;
    font-size: 1.2rem;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    transition: all .25s ease-out;
}

.span__select::before {
    content: '\f017';
    font-family: "Font Awesome 5 Free";
    font-size: inherit;
    position: absolute;
    align-self: center;
    right: 0;
    padding: 1.2rem;
    color: var(--color-white);
    background-color: var(--color-orange);
    pointer-events: none;
    transition: .2s ease;
}

.span__select:hover::before {
    background-color: var(--color-orange-dark);
}

.live-disabled:hover {
    background-color: var(--color-orange);
}

.header__select:hover {
    color: var(--color-orange);
}

.live-disabled {
    color: var(--color-white);
    /* line-height: 28px; */
    background-color: var(--color-orange-dark);
    transition: all .4s ease-in-out;
}

.interval-disabled {
    color: var(--color-light-grey);
    /* line-height: 28px; */
    transition: all .4s ease-in-out;
}

.live-active {
    color: var(--color-orange-dark);
    /* line-height: 28px; */
    background-color: var(--color-light-grey);
    opacity: 1;
    transition: all .4s ease-in-out;
}

.live-active:hover {
    color: var(--color-orange);
}

.live-active::before {
    content: '';
    display: inline-block;
    width: .6rem;
    height: .6rem;
    /* line-height: 28px; */
    margin-right: 6px;
    margin-bottom: 1px;
    border-radius: 50%;
    background-color: var(--color-orange-dark);
    -webkit-animation-name: pulse;
    animation-name: pulse;
    -webkit-animation-duration: 1.2s;
    animation-duration: 1.2s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    transition: all .4s ease-in;
}

.live-active:hover::before {
    background-color: var(--color-orange);
}

/* Main header styles - end */

/* Exchange boxes styles - start */

.exchange-box {
    text-align: center;
    transition: all .3s linear;
    padding: 3rem 0;
}

.exchange-box::after {
    content: "";
    display: inline-block;
    text-align: center;
    width: 50%;
    opacity: .1;
    height: 1px;
    background-color: var(--color-primary-dark);
}

.price-box__header {
    display: inline-block;
    padding: 1rem 4rem;
    margin-bottom: 1.8rem;
    border-radius: 2.5rem;
    font-family: var(--font-text);
    font-size: 1.4rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
    background-color: var(--color-primary);
    color: var(--color-light-grey);
}

.price-box__span {
    font-family: var(--font-display);
    font-size: 3.2rem;
    font-weight: 800;
    letter-spacing: .75rem;
    color: var(--color-primary-dark);
}

.percent-item {
    display: block;
    height: 6rem;
    line-height: 6rem;
    width: 6rem;
    color: var(--color-white);
    background-color: var(--color-primary-dark);
    border-radius: 50%;
    border: 2px solid var(--color-white);
    font-family: var(--font-text);
    font-weight: 700;
    font-size: 1.2rem;
    letter-spacing: 0.5px;
    position: absolute;
    -webkit-transform: translate(-50%, -90%);
    transform: translate(-50%, -90%);
}

.percent-down {
    background-color: var(--color-red);
}

.percent-up {
    background-color: var(--color-green);
}

/* Exchange boxes styles - end */

/* Timer styles - start */

.timer {
    margin: 0 auto;
    margin-bottom: 3rem;
    width: 21rem;
    height: 3rem;
    line-height: 2.8rem;
    font-size: 1.6rem;
    text-align: center;
    border-radius: 2rem;
    border: .2rem var(--color-primary) solid;
}

/* Timer styles - end */

/* Animation - start */

@-webkit-keyframes pulse {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        -webkit-transform: scale(1.5);
        transform: scale(1.5);
    }
}

@keyframes pulse {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        -webkit-transform: scale(1.5);
        transform: scale(1.5);
    }
}

/* Animation - end */